{
  "presets": [
    "@babel/env",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript",
    "@linaria/babel-preset"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@": "src"
        }
      }
    ]
  ]
}
